<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>From Earth to Mind | Individualized Training Programs</title>
</head>

<body class="bg-black flex-grow">

    <!-- Page Content -->
    <main class="p-4 md:p-8 flex-grow space-y-8 bg-black">

        <!-- Card 1 -->
        <section class="bg-white rounded-lg shadow-md p-6 md:p-8 space-y-6 md:flex md:space-y-0 md:space-x-6">
            <div class="md:flex-shrink-0 md:w-1/3 flex justify-center items-center md:order-1">
            <img src="../../assets/workout-plan.png" alt="Another Training Image" class="rounded-md object-cover w-48 h-48 md:w-64 md:h-64">
        </div>
        <div class="md:w-2/3 md:order-2 space-y-4">
            <!-- Title -->
            <h2 class="text-xl md:text-2xl font-semibold">Individualized Training Programs</h2>

            <!-- Description -->
            <p>
                Step into a workout regimen crafted meticulously with your unique needs in mind. Our Individualized Training Programs consider your history, goals, and physical limitations to ensure every move 
                aligns with your aspirations.
            </p>

            <!-- Call to Action -->
                <!--<div class="text-center md:text-left">
                    <a href="#" class="bg-black text-white rounded-full px-4 py-2 hover:bg-gray-700 transition duration-200">Learn More</a>
                </div>-->
        </div>
        </section>
        
        <!-- Card 2 -->
        <section class="bg-white rounded-lg shadow-md p-6 md:p-8 space-y-6 md:flex md:flex-row-reverse md:space-y-0 md:space-x-reverse md:space-x-6">
            <!-- Image -->
            <div class="md:flex-shrink-0 md:w-1/3 flex justify-center items-center md:order-1">
                <!-- Use another image source -->
                <img src="../../assets/deadlifting.png" alt="Another Training Image" class="rounded-md object-cover w-48 h-48 md:w-64 md:h-64">
            </div>

            <!-- Content -->
            <div class="md:w-2/3 md:order-2 space-y-4">
                <!-- Title -->
                <h2 class="text-xl md:text-2xl font-semibold">Hollistic Methods</h2>

                <!-- Description -->
                <p>
                    Discover an approach that encompasses both mind and body. By focusing on the entirety of an individual's well-being, achieve lasting and profound changes in health and mindset.
                </p>

                <!-- Call to Action -->
                <!--<div class="text-center md:text-left">
                    <a href="#" class="bg-black text-white rounded-full px-4 py-2 hover:bg-gray-700 transition duration-200">Learn More</a>
                </div>-->
            </div>
        </section>

        <!-- Card 3 -->
        <section class="bg-white rounded-lg shadow-md p-6 md:p-8 space-y-6 md:flex md:space-y-0 md:space-x-6">
            <div class="md:flex-shrink-0 md:w-1/3 flex justify-center items-center md:order-1">
            <img src="../../assets/trainingEQ.jpg" alt="Another Training Image" class="rounded-md object-cover w-48 h-48 md:w-64 md:h-64">
        </div>
        <div class="md:w-2/3 md:order-2 space-y-4">
            <!-- Title -->
            <h2 class="text-xl md:text-2xl font-semibold">One-on-One In Person</h2>
            <p>
                Experience the undivided attention of our expert trainers, 
                ensuring each session pushes you closer to your fitness goals. 
                Our One-on-One sessions are dedicated, intensive, and crafted for those seeking focused progression.

            </p>

            <!-- Call to Action -->
                <!--<div class="text-center md:text-left">
                    <a href="#" class="bg-black text-white rounded-full px-4 py-2 hover:bg-gray-700 transition duration-200">Learn More</a>
                </div>-->
        </div>
        </section>

                <!-- Card 4 -->
                <section class="bg-white rounded-lg shadow-md p-6 md:p-8 space-y-6 md:flex md:flex-row-reverse md:space-y-0 md:space-x-reverse md:space-x-6">
                    <!-- Image -->
                    <div class="md:flex-shrink-0 md:w-1/3 flex justify-center items-center md:order-1">
                        <!-- Use another image source -->
                        <img src="../../assets/groupclass1.png" alt="Another Training Image" class="rounded-md object-cover w-48 h-48 md:w-64 md:h-64">
                    </div>
        
                    <!-- Content -->
                    <div class="md:w-2/3 md:order-2 space-y-4">
                        <!-- Title -->
                        <h2 class="text-xl md:text-2xl font-semibold">Small Group Classes</h2>
        
                        <!-- Description -->
                        <p>
                            Join a community of like-minded individuals, all aiming for betterment. 
                            Our Small Group Classes foster camaraderie, motivation, and shared progress, 
                            ensuring you stay committed and challenged in a supportive environment.
                        </p>
        
                        <!-- Call to Action -->
                <!--<div class="text-center md:text-left">
                    <a href="#" class="bg-black text-white rounded-full px-4 py-2 hover:bg-gray-700 transition duration-200">Learn More</a>
                </div>-->
                    </div>
                </section>
    </main>

    

  
    <!-- Footer -->
    <div #footer>
    <app-footer></app-footer>
</div>
</body>
</html>
