<div class="flex flex-col md:flex-row items-center">
    <div class="flex justify-start flex-grow">
        <img class="md:ml-24 md:w-24 w-48" src="../../assets/Brown Illustration Traditional Food Logo (2) (1).png" alt="">
    </div>
    <div class="text-xl flex justify-end md:mr-6 md:mt-8 mt-4 md:mt-0 md:flex-end">
        <a class=" mx-2 md:mx-12 my-2 md:my-0 hover:underline" routerLink="/">Home</a>
        <a class=" mx-2 md:mx-12 my-2 md:my-0 hover:underline" routerLink="/about">About Me</a>
        <a class=" mx-2 md:mx-12 my-2 md:my-0 hover:underline" href="https://www.fromearthtomind.com" target="_blank">Meals</a>
        <a class=" mx-2 md:mx-12 md:mr-36 my-2 md:my-0 hover:underline cursor-pointer" (click)="scrollToBottom()">Contact</a>
        
    </div>

</div>
